# Visual Studio / VS Code local setup
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb

# Visual Studio build outputs
[Dd]ebug/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
ipch/
*.ilk
*.pdb
*.idb
*.iobj
*.ipdb

# Nordic/GNU Make build outputs
_build/

build*/